PORT=3000
VITE_MERCADOPAGO_PUBLIC_KEY=SUA_PUBLIC_KEY_AQUI
MERCADOPAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MERCADOPAGO_BASE_URL=https://api.mercadopago.com
MERCADOPAGO_SUCCESS_URL=http://localhost:5173/sucesso
MERCADOPAGO_PENDING_URL=http://localhost:5173/sucesso
MERCADOPAGO_FAILURE_URL=http://localhost:5173/sucesso
MERCADOPAGO_NOTIFICATION_URL=http://localhost:3000/api/webhook/mercadopago
MERCADOPAGO_STATEMENT_DESCRIPTOR=FORMATURA MEDICINA
MERCADOPAGO_INTEGRATION_TYPE=web
MERCADOPAGO_WEBHOOK_TOKEN=token_secreto_webhook
